<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tymphay.tymwork">

    <!--蓝牙连接权限,如请求连接、接受连接和传输数据等-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--蓝牙通讯权限,用来发现或操作蓝牙设备-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 支持ble的设备 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />


    <!--    <uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!--    <uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH"-->
    <!--        android:maxSdkVersion="30" />-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"-->
    <!--        android:maxSdkVersion="30" />-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />-->
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MyBluetooth"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBlueTooth">
        <activity android:name=".ui.ConnectBluetoothActivity"></activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>